<%= stylesheet_link_tag "layout.css" %>

<h1 align = "center">Teaguenology</h1>

<ul>
	<li>Home</li>
	<li>About</li>
	<li>Work Experience</li>
	<li>Projects</li>
	<li>Education</li>
	<li>Contact Me</li>
</ul>
